(cloudflare) {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_KEY}
    resolvers 1.1.1.1
  }
}

{env.CADDY_HOSTNAME} {
    reverse_proxy {env.HOMESERVER_IP}:{env.HOMESERVER_PORT}
    log {
      output stdout level DEBUG
    }
    import cloudflare
}
